* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    background:
      linear-gradient(
         rgba(22, 92, 133, 0.815),
         rgba(68, 231, 223, 0.884),
         rgba(22, 92, 133, 0.815) 
        );
  }

  button{
    background-color:lightskyblue;
    border: .5px solid black;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    display: block;
    cursor: pointer;
  }

  button:hover{
    background-color: lightseagreen;
    font-weight: bold;

  }

  h1 {
    text-align: center;
    margin-top: 30px;
  }

  fieldset{
    padding-left: 15px;
    border: 0;
    padding: 0;
    margin: 0;
    min-width: 0;
}

  legend{
      margin-top: 10px;
      border: none;
      text-align: center;
  }
  
  fieldset, p, div img{
      min-width: 320px;
      max-width: 50%;
      max-height: 320px;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

  label {
      margin-left: 10px;
      display: block;
      cursor: pointer;

  }

  input {
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}

input:checked{
  font-style: bold;
}

input:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 7px;
     top: 6px;
     content: '🍉';
}

p {
    text-align: center;
}

.right {
    font-weight: bold;
    color: rgb(3, 78, 3)
}

.wrong {
    font-weight: bold;
    color: rgb(122, 6, 6);
}

button:focus, input:focus {
  border: 1px rgb(47, 47, 192) solid;
}